/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
.inner {
	width: 100%;
	max-width: calc(1200px + 6vw);
	padding: 0 3vw;
	margin: 0 auto
}
