extends ../_layout/default

block vars
  -title        = 'About'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = 'about'
  -path         = '..'

block scripts

block container

