extends ../_layout/default
block vars
  -title        = '株式会社カインズ 企業サイト'
  -description  = 'オリジナル商品を開発中！ホームセンター「カインズ」の企業サイトです。'
  -keywords     = ''
  -og_title     = '株式会社カインズ'
  -url          = ''
  -pageID       = 'homepage'
  -path         = '..'

block container
  -
    var cardItem ={
        name:"Test",
        url:"#",
        imageUrl:"/assets/images/company/img-company01.png"
    };
  include ../_modules/index.pug

