mixin cardItem(card)
  a.m-card__item(href=card.url) 
    figure.m-card__thumbnail 
      img(src=path+card.imageUrl alt=card.name)
    span.m-card__title=card.name
mixin cardList(cards=[])
  ul.m-card__list
    each card in cards 
      li
        +cardItem(card)