footer.c-footer
  .inner 
    .footer__cont
      .footer__block 
        .footer__frame 
          .f_ttl THÔNG TIN CÔNG TY
          .f_txt01 CÔNG TY CỔ PHẦN ĐÁ HOA CƯƠNG CHÂU ÂU - EUROSTONE
          ul.f_list 
            li MST: 0309720941
            li Người đại diện: Text Text Text
            li Ngày cấp: Text Text Text
            li Nơi cấp: Text Text Text
        .footer__frame
          .f_ttl KẾT NỐI VỚI EUROSTONE
          ul.list-social 
            li 
              a(href="#")
                img(src='assets/images/facebook.png', alt='facebook', width="30")
            li 
              a(href="#")
                img(src='assets/images/pinterest.png', alt='pinterest', width="30")
            li 
              a(href="#")
                img(src='assets/images/youtube.png', alt='youtube', width="30")
            li 
              a(href="#")
                img(src='assets/images/zalo.png', alt='zalo', width="30")
            li 
              a(href="#")
                img(src='assets/images/messenger.png', alt='messenger', width="30")
      .footer__block 
        .footer__frame 
          .f_ttl VỀ EUROSTONE
          p.f_txt02.icon01 Showroom
          ul.f_list 
            li số 120 đường số 7, KDC Cityland - Center Hill, P.7, Q. Gò Vấp
            li số 25 đường số 10, KĐT Sala, P. An Lợi Đông, Q.2, TP. Thủ Đức
          p.f_txt02.icon02 Nhà máy
          ul.f_list 
            li số 120 đường số 7, KDC Cityland - Center Hill, P.7, Q. Gò Vấp
            li số 25 đường số 10, KĐT Sala, P. An Lợi Đông, Q.2, TP. Thủ Đức
          p.text03.phone
            span Hotline:
            a(href="tel:0903930126") 0903 930 126
            a(href="tel:0903598407") 0903 598 407
          p.text03.mail
            span Email 
            a(href="mailto:info@eurostone.vn") info@eurostone.vn
      .footer__block 
        .footer__frame 
          p.f_ttl CHÍNH SÁCH CHUNG
          ul.f_list 
            li Chính sách vận chuyển
            li Chính sách thi công
            li Chính sách bảo hành
        .footer__frame 
          .f_contact 
            p Đăng ký Email ngay để nhận ưu đãi mới nhất!
            .register 
              input(type="text")
            p.f_logo 
              img(src='assets/images/f_logo.png', alt='facebook', width="137")
    address &copy;2016 EuroStone All Rights Reserved.
        
