.m-breadcrumb {
  padding: 7px 0;
  border-top: 1px solid $c-breadcrumb-border;
  border-bottom: 1px solid $c-breadcrumb-border;
  @include tab-land {
    background-color: $c-breadcrumb-border;
  }
  &__item {
    display: inline;
    font-family: $font-noto;
    vertical-align: top;
    font-size: 13px;
    letter-spacing: 0.45px;
    position: relative;

    &:not(:last-child){
      &::after {
        content: "";
        color: $c-text-black-light;
        background-image: url(../../assets/images/common/icon_arrow_right.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-flex;
        width: 10px;
        height: 10px;
        position: static;
        margin: 4.5px 8px 4.5px;
        @include tab-mini {
          color: $c-breadcrumb-tablet;
          background-size: contain;
          width: 5.2px;
          height: 9.2px;
          margin: 2.5px 8px 2.5px;
        }
      }
    }
    @include tab-mini {
      font-size: 11.5px;
      letter-spacing: 0;
    }
  }
  &__link,
  &__link-current {
    display: inline;
    color: $c-text-black-light;
    @include tab-mini {
      color: $c-breadcrumb-tablet;
    }
  }
  &__link{
    vertical-align: top;
  }
  &__link-current {
    vertical-align: top;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }
}
