.m-footer {
  background-color: $primary01;
  @include tab-land {
    background: none
  }

  &__inner {
    @include pc-min {
      max-width: 1080px;
      padding: 51px 20px 34px;
      margin: 0 auto;
      position: relative;
    }
  }

  &__wrap {
    @include tab-land {
      position: relative;
      padding-top: 35px;
      border-top: 1px solid #ccc;
    }
  }

  &__logo {
    margin-bottom: 25px;
    @include tab-land {
      display: none;
    }
  }

  &__logoSp  {
    background-color: #fff;
    padding: 31px 0 27px 13px;
    margin-bottom: 0;
    img {
      width: 123px;
    }
    @include pc-min {
      display: none;
    }
  }

  &__sitemap {
    display: flex;

    @include tab-land {
      display: none;
    }
    &-item {
      margin-right: 30px;
      padding-right: 35px;
      position: relative;
      min-height: 190px;
      &:after {
        content: "";
        width: 1px;
        height: 190px;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
      }
      ul {
        li {
          margin-bottom: 10px;
          a {
            font-size: 14px;
            letter-spacing: 0.48px;
            color: #fff;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &-sns {
      margin-left: auto;
      a {
        @extend .opacityEffect;
      }
      &--title {
        font-size: 16px;
        letter-spacing: 0.55px;
        color: #fff;
      }
      &--list {
        display: flex;
        align-items: center;
        column-gap: 18px;
        margin-top: 12px;
      }
    }

    &-policyLink {
      font-size: 13px;
      display: inline-block;
      letter-spacing: 0.45px;
      color: #fff;
      margin-top: 30px;
    }
  }

  &__copyright {
    padding: 3px 0;
    background-color: $primary02;
    @include tab-land {
      padding: 12px 0 11px;
    }
    &-text {
      font-size: 12px;
      line-height: 2.08;
      text-align: center;
      color: #fff;
    }
  }

  &__snsMobile {
    padding: 27px 30px;
    background-color: $primary01;
    @include pc-min {
      display: none;
    }
    &-list {
      margin: 13px 0 20px;
      display: flex;
      align-items: center;
      column-gap: 18px;
      > li {
        img {
          min-width: 34px;
        }
      }
    }
    &-title {
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.59px;
    }
    &-policyLink {
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.48px;
    }
  }

  .m-menuToggle {
    @include pc-min {
      display: none;
    }
    &__content {
      position: relative;
      top: auto;
      right: auto;
      height: auto;
      &-item {
        &--title {
          text-align: left;
          padding: 10px 16px;
        }
      }
    }
  }
}