.mobileLink {
  display: block;
  padding: 14px 30px 16px;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    color: $primary01;
    background-color: rgba(0, 100, 56, 0.05);
  }
}

.opacityEffect {
  transition: all .3s ease;
  &:hover {
    opacity: 0.7;
  }
}

.opacityEffectImg {
  img {
    transition: all .3s ease;
  }
  &:hover {
    img {
      opacity: 0.7;
    }
  }
}

.m-header {
  width: 100%;
  z-index: 10;
  position: fixed;
  &__logo {
    a {
      @extend .opacityEffectImg;
    }
    @include tab-land {
      margin-left: 15px;
      img {
        max-width: 86px;
      }
    }
  }
  &__top {
    background-color: $primary01;
    padding: 6px 0 5px;

    @include tab-land {
      display: none;
    }

    &-inner {
      @extend .g-inner;
    }

    &-menu {
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li {
          margin-left: 20px;
          a {
            color: #fff;
            font-size: 13px;
            letter-spacing: 0.45px;
            &:hover {
              text-decoration: underline;
            }
          }
          &:last-child {
            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &__bottom {
    padding: 29px 0 31px;
    background-color: #fff;
    @include tab-land {
      padding: 0;
      position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        background-color: #ccc;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    &-inner {
      @extend .g-inner;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include tab-land {
        padding: 0;
      }
    }
    &-menu {
      @include tab-land {
        display: none;
      }

      > ul {
        display: flex;
        > li {
          margin-left: 20px;
          position: relative;
          &:hover {
            .m-header__subMenu {
              opacity: 1;
              visibility: visible;
            }
            > a {
              &:after {
                width: 100%;
              }
            }
          }
          > a {
            font-size: 14px;
            font-weight: bold;
            display: block;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              bottom: -4px;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
              height: 2px;
              background-color: $primary01;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }

  &__subMenu {
    position: fixed;
    left: 0;
    width: 100%;
    padding-top: 39px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

  }

  &__boxMenu {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__btnLink {
    position: absolute;
    right: 70px;
    bottom: 20px;
    &-text {
      font-size: 14px;
      font-weight: bold;
      padding: 10px 33px;
      display: inline-block;
      background: url("../../assets/images/common/icon_header_link.svg") no-repeat right center;
      &:hover {
        color: $primary01;
      }
    }

    @include tab-land {
      position: inherit;
      text-align: right;
      margin: -8px 30px 8px;
    }
  }

  &__thumbMenu {
    position: relative;
    width: 526px;
    height: 278px;
    &-img {
      position: absolute;
    }
    &-japanese {
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 1.2px;
      color: #fff;
    }
    &-english {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.55px;
      color: #fff;
    }
  }

  &__navMenu {
    display: flex;
    > ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: calc(48px * 5);
      border-right: 1px solid $c-line;
      > li {
        min-width: 250px;
        > a {
          display: block;
          font-size: 16px;
          font-weight: bold;
          padding: 12px 19px 12px 30px;
          &:hover {
            color: $primary01;
          }
        }
      }
    }
  }
}