.m-form-label {
  display: block;
  font-size: 13px;
  line-height: 1.85;
  color: #212121;
  margin-bottom: 6px;
}

.m-form-text {
  display: block;
  width: 100%;
  padding: 8px 10px 8px;
  border: solid 1px #979797;
  background-color: #fff;
  font-size: 13px;
  &:focus {
    border-color: #006438;
  }
}

.m-input-select {
  display: block;
  width: 100%;
  padding: 8px 10px 8px;
  font-size: 13px;
  border: solid 1px #979797;
  background: url('../images/common/icon_select.svg') no-repeat right center / contain;
  padding-right: 42px;
  cursor: pointer;
  caret-color: transparent;
  &.is-active {
    background: url('../images/common/icon_select_act.svg') no-repeat right center / contain;
    border-color: #006438;
  }
}

.m-box-select {
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #ccc;
  background-color: #fff;
  display: none;
  height: 250px;
  overflow: hidden;
  padding-bottom: 20px;
  &__list {
    li {
      font-size: 13px;
      letter-spacing: 0.45px;
      color: #212121;
      padding: 1px 7px 3px 7px;
      cursor: pointer;
      height: auto;
      @media screen and (min-width: 768px) {
        &:hover {
          background: #006438;
          color: #fff;
        }
      }
    }
  }
  .swiper-button-next {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
    display: block;
    width: 100%;
    background: #fff;
  }

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc;
}

.m-checkbox {
  input {
    appearance: none;
    display: none;
    &:checked + .m-checkbox_label {
      background: url('../images/common/icon_checkbox_checked.svg') no-repeat left center;
    }
  }
  &_label {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    color: #212121;
    padding-left: 24px;
    background: url('../images/common/icon_checkbox.svg') no-repeat left center;
  }
}