/* START MOBILE MENU =========================================*/
.m-menuToggle {
  @include pc-min {
    display: none;
  }
  &__content {
    position: absolute;
    top: 54px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 54px);
    overflow-y: auto;
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    &-item {
      &--title {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.48px;
        text-align: center;
        color: #fff;
        background-color: $primary01;
        padding: 7px 0 8px;
      }
      &--list {
        > li {
          &:last-child {
            > a {
              border-bottom: 1px solid #fff;
            }
          }
          > a {
            border-bottom: 1px solid $c-line;
            @extend .mobileLink;
          }
        }
      }
    }
  }
  &__according {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    &-text {
      width: 100%;
      display: block;
      font-size: 16px;
      font-weight: bold;
      padding: 15px 0 15px 30px;
      &:hover {
        color: $primary01;
        background-color: rgba(0, 100, 56, 0.05);
      }
    }

    > input[type='checkbox'] {
      display: block;
      width: 50px;
      height: 55px;
      position: absolute;
      top: 0;
      right: 15px;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 1;
      &:checked {
        ~ .m-menuToggle__according-text {
          color: $primary01;
        }

        ~ .m-menuToggle__according-content {
          max-height: 100vh;
        }

        ~ .m-menuToggle__according-icon {
          &:before,
          &:after {
            background-color: $primary01;
          }
          &:after {
            transform: rotate(0);
          }
        }
      }
    }

    &-icon {
      width: 19px;
      height: 18px;
      position: absolute;
      top: 18px;
      right: 30px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 1px;
        top: 8px;
        width: 15px;
        height: 2px;
        background-color: #000;
        transition: all 0.3s ease-in-out;
      }
      &:after {
        transform: rotate(90deg);
      }
    }

    &-content {
      width: 100%;
      background-color: rgba(0, 80, 50, 0.1);
      border-top: 1px solid $c-line;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s ease-out;
      > ul {
        padding: 9px 0 8px;
        > li {
          > a {
            @extend .mobileLink;
          }
        }
      }
    }
  }
  &__globalMenu {
    &-list {
      display: flex;
      flex-wrap: wrap;
      > li {
        width: 50%;
        border-top: 1px solid $c-line;
        &:last-child {
          width: 100%;
          > a {
            font-weight: bold;
          }
        }
        &:nth-child(even) {
          border-left: 1px solid $c-line;
        }
        > a {
          display: block;
          font-size: 14px;
          padding: 17px 12px;
          text-align: center;
          &:hover {
            color: $primary01;
            background-color: rgba(0, 100, 56, 0.05);
          }
        }
      }
    }
  }
  &__hamburger {
    position: relative;
    width: 54px;
    height: 54px;
    &-button {
      display: block;
      margin: 0;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:checked {
        + .m-menuToggle__hamburger-line {
          background-color: transparent;
          > span {
            background-color: $primary01;
            &:nth-child(1) {
              transform: translate(-50%, 10px) rotate(45deg);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: translate(-50%, -10px) rotate(-45deg);
            }
          }
        }
      }
    }
    &-line {
      background-color: $primary01;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: 0.3s ease-in-out;
      // transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      > span {
        position: absolute;
        background-color: #fff;
        width: 26px;
        height: 2px;
        font-size: 0;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s ease-in-out;
        &:nth-child(1) {
          top: 15px;
        }
        &:nth-child(2) {
          top: calc(15px + 10px);
        }
        &:nth-child(3) {
          top: calc(15px + 20px);
        }
      }
    }
  }
}
/* END MOBILE MENU =========================================*/
.m-headline {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    font-size: 144px;
    font-weight: bold;
    letter-spacing: 4.93px;
    color: rgba(204, 204, 204, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 9999px;
    z-index: -1;
    @include tab-land {
      top: -20px;
    }
  }
  &.t-news {
    &:before {
      content: "NEWS RELEASE NEWS RELEASE NEWS RELEASE NEWS RELEASE NEWS RELEASE";
    }
  }
  &.t-contents {
    &:before {
      content: "CONTENTS CONTENTS CONTENTS CONTENTS CONTENTS CONTENTS";
    }
  }
  &.t-aboutUs {
    &:before {
      content: "ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US";
    }
  }
  &.t-philosophy {
    &:before {
      content: "PHILOSOPHY PHILOSOPHY PHILOSOPHY PHILOSOPHY PHILOSOPHY PHILOSOPHY";
    }
  }
  &.t-besia {
    &:before {
      content: "BEISIA GROUP BEISIA BEISIA GROUP BEISIA";
    }
  }
  &.t-childPage{
    &:before {
      font-size: 130px;
      @include tab-land {
        font-size: 47px;
        top: 0;
      }
    }
  }
  &__text {
    font-size: 40px;
    letter-spacing: 1.37px;
    color: $primary01;
    padding: 79px 0 62px;
    @include tab-land {
      font-size: 25px;
      letter-spacing: 0.86px;
      padding: 76px 0 45px;
    }
    &-child{
      color: $c-border;
      font-size: 22px;
      letter-spacing: .75px;
      font-weight: bold;
      padding: 85px 0 75px;
      text-align: center;
      @include tab-land {
        font-size: 18px;
        letter-spacing: .62px;
        padding: 20px 0px;
      }
    }
  }
}

.m-btnPrimary {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    border-left: solid 1px #212121;
    top: 1px;
    right: 0;
    z-index: -1;
  }
  &:after {
    content: "→";
    position: absolute;
    width: 50px;
    top: 12px;
    right: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.62px;
  }
  &__link {
    display: block;
    font-size: 14px;
    letter-spacing: 0.48px;
    padding: 14px 12px;
    border: solid 1px #212121;
  }
  &:hover {
    > a {
      color: $primary01;
      border-color: $primary01;
    }
    &:before {
      border-color: $primary01;
    }
    &:after {
      color: $primary01;
    }
  }
}

.m-btnSecondary {
  text-align: center;
  &__link {
    width: 269px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.48px;
    position: relative;
    border: solid 1px #212121;
    padding: 0 55px 0 20px;
    @include sp {
      width: 100%;
      padding: 0;
    }
    &:hover {
      border-color: $primary01;
      color: $primary01;
      svg {
        path {
          fill: $primary01;
        }
      }
    }

    svg {
      position: absolute;
      top: 17px;
      right: 19px;
    }
  }
}

.m-btnBackTop {
  border: none;
  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
  color: $primary01;
  font-family: 'Noto Sans JP', sans-serif;
  @extend .opacityEffect;

  @include pc-min {
    position: absolute;
    bottom: calc(100% + 15px);
    right: 20px;
  }

  @include tab-land {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    width: 35px;
    height: 35px;
    z-index: 3;
    padding: 0;
  }

  &.fixed {
    @include tab-land {
      top: auto;
      bottom: 0;
      position: fixed;
    }
  }

  &__icon {
    max-width: 20px;
    margin-left: 9px;
    @include tab-land {
      margin: 0;
      min-width: 35px;
    }
  }
}

.m-groupLink {
  padding: 80px 0 116px;
  border-top: 1px solid $c-line;

  @include tab-land {
    display: none;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.m-banner {
  position: relative;
  height: 400px;
  background: var(--pc) no-repeat center center;
  background-size: cover;
  @include tab-mini {
    height: 130px;
    background-image: var(--sp);
  }
}

.m-pagination {
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;

    .page-numbers {
      display: block;
      padding: 0 7px;
      font-size: 16px;
      line-height: 1.5;
      &:hover,
      &.current {
        color: $primary01;
      }
    }
  }
}