.m-post{
  &__title{
    margin-top: 40px;
    font-size: 22px;
    letter-spacing: 0.75px;
    text-align: center;
    font-weight: bold;
    @include tab-mini{
      margin-top: 30px;
      font-size: 18px;
      letter-spacing: 0.62px;
    }
  }
  &__content{
    margin-top: 40px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.55px;
    color: $c-text-black-light;
  }
  &__signature-block{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 80px;
  }
  &__ceo{
    font-size: 16px;
    letter-spacing: 0.55px;
    color: $c-text-black-light;
    text-align: right;
  }
  &__signature-img{
    text-align: right;
    object-fit: contain;
    height: 56px;
    margin-top: 16px;
    @include sp{
      margin-top: 12px;
    }
  }
}