// mediaquery breakpoint
//-----------------------------------------------------------
$breakpoint: 1024px;
$breakpoint_lg: 1024px;

// color
//-----------------------------------------------------------
$primary01: #006438;
$primary02: #005032;
$c-line: #cccccc;
$c-border:#212121;
$c-text-black-light:#212121;
$c-text-black: #000000;
$c-text-gray: #cccccc;
$c-border-ddd:#dddddd;

$c-headline-bg :rgba(204, 204, 204, 0.1);

$c-breadcrumb-border: #f4f4f4;
$c-breadcrumb-tablet:#777777;

// background
$bg-button-bar-green:rgba(0, 80, 50, 0.1);

// z-index
$z-index-cart-block:100;

// font-family
$font-noto: 'Noto Sans JP', sans-serif;