block access
  div
    .g-inner
      +breadcrumb(breadcrumbAccess,{name:'トップメッセージ',href:''})
  div
    +headline('TOP MESSAGE','トップメッセージ')
  div
    img(src="/assets/images/company/img-company01.png", alt="Company")
  div
    .g-inner
      +cardList(cards)