if pageID  === 'homepage'
	.m-cart-button-block.js-cart-btn
		a(href="#").m-btn.m-btnCart
			| オンラインショップ
			span.m-icon__cart
				img(src=path+"/assets/images/common/icon_shopping_cart.svg", alt="オンラインショップ")
		a(href="#").m-btn.m-btnShop
			| 店舗検索
			span.m-icon__shop
				img(src=path+"/assets/images/common/icon_shop.svg", alt="店舗検索")