mixin groupLinks(arrs)
  each val in arrs
    li.m-groupLink__item
      .m-btnPrimary
        a(href=val.url, class="m-btnPrimary__link js-link-btn")= val.name
-
  var companyMenus = [
    {name: 'トップメッセージ', url: '/company/message/'},
    {name: '企業理念', url: '/company/philosophy/'},
    {name: '行動方針', url: '/company/principles/'},
    {name: '会社概要', url: '/company/outline/'},
    {name: 'アクセス', url: '/company/access/'},
    {name: '役員一覧・組織図', url: '/company/officer/'},
    {name: '沿革', url: '/company/history/'},
    {name: 'ベイシアグループについて', url: '/company/aboutbeisia/'},
  ]
  var aboutusMenus = [
    {name: '店舗について', url: '/aboutus/store/'},
    {name: '人事戦略', url: '/aboutus/diyhr/'},
    {name: 'ロジスティクス', url: '/aboutus/logistics/'},
    {name: '商品開発', url: '/aboutus/product/'},
    {name: '品質管理', url: '/aboutus/quality/'},
    {name: 'デジタル戦略', url: '/aboutus/digital/'},
    {name: 'くみまち構想', url: '/aboutus/kumimachi/'},
  ]

.m-groupLink
  .g-inner
    ul.m-groupLink__list
      if navGroup == 'aboutus'
        +groupLinks(aboutusMenus)
      else
        +groupLinks(companyMenus)
