/*=========================================================
    company index
=========================================================*/

/*
    import child page
*/
.company {
  .main {
    margin-bottom: 196px;
    @include tab-mini {
      margin-bottom: 80px;
    }

    .m-card {
      &__list {
        @include tab-mini {
          margin-top: 28px;
        }
        @include sp {
          margin-top: 12px;
        }
      }
    }
  }
}

@import "access";
@import "message";
@import "philosophy";
@import "principles";
@import "history";
