.companyPrinciples {
  &__content {
    margin-top: 40px;
    margin-bottom: 160px;
    @include tab-mini {
      margin-top: 30px;
      margin-bottom: 80px;
    }
  }
  &__item {
    &-content {
      margin-top: 16px;
    }
    & + & {
      margin-top: 60px;
      @include sp {
        margin-top: 40px;
      }
    }
    h3.m-titleSub + p {
      margin-top: 10px;
    }
    .m-titleBorder + .m-titleSub {
      margin-top: 16px;
    }
    p {
      margin-top: 16px;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.48px;
    }
    table {
      margin-top: 16px;
      @include tab-mini {
        margin-top: 17px;
      }
      tbody {
        tr {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          border: 1px solid $c-line;
          th {
            width:248px;
            background-color: $primary01;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.55px;
            padding: 30px;
            color: #ffffff;
            line-height: normal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span{
              color: #ffffff;
            }
            text-align: left;
            @include tab-land {
              padding: 16px;
              width: 100%;
            }
          }
          td {
            margin: 0;
            padding: 16px 40px;
            max-width: calc(75%);
            @include tab-land {
              max-width: 100%;
              padding: 16px;
            }
            p {
              margin-top: 0;
            }
          }
        }
      }
    }
    &-sub {
      & + & {
        margin-top: 30px;
      }
    }
  }
  &__challenges {
    p {
      margin-bottom: 16px;
    }
  }
  &__beisia {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 0;
    &-img {
      max-width: 224px;
      max-height: 324px;
      object-fit: contain;
      border: 1px solid $c-border-ddd;
    }
    &-link {
      position: relative;
      font-size: 14px;
      letter-spacing: 0.48px;
      max-width: 236px;
      align-items: center;
      text-decoration: underline;
      display: inline-flex;
      flex-wrap: wrap;
      &:hover {
        text-decoration: none;
      }
      @include tab-land {
        text-decoration: none;
      }
      span {
        &::after {
          content: "";
          width: 18px;
          height: 18px;
          background-size: 18px 18px;
          display: inline-flex;
          background-repeat: no-repeat;
          background-image: url("../../assets/images/common/icon_pdf.png");
          background-position: center;
          vertical-align: sub;
          position: static;
          margin-left: 3px;
        }
      }
      margin-top: 10px;
      @include tab-mini {
        margin-top: 8px;
      }
    }
  }
}
